<% @advisers.each do |adviser| %>
  <div class="card">
    <div id="image">
      <img src="<%= adviser.picture_url %>">
    </div>
    <div id="info">
      <strong><span id="username"><%= adviser.first_name %>
        <%= adviser.last_name %></span></strong><br>
      <%= adviser.location %><br>
      <em><%= adviser.headline %></em><br>
      Area of Expertise: <%= adviser.industry %>
    </div>
    <div class="role">
      <% if adviser.protege == true && adviser.adviser == true %>
        <p>P & A</p>
      <% elsif  adviser.protege == true %>
        <p>P</p>
      <% elsif adviser.adviser == true %>
        <p>A</p>
      <% end %>
    </div><br>
    <span id="contact">
      <a href="mailto:<%= adviser.email_address %>"><button type="button" class="btn btn-primary btn-lg"> Contact <%= adviser.first_name %></button>
      </a>
    </span>
  </div>
<% end %>