<% @proteges.each do |protege| %>
  <div class="card">
    <div id="image">
      <img src="<%= protege.picture_url %>">
    </div>
    <div id="info">
      <strong><span id="username"><%= protege.first_name %>
        <%= protege.last_name %></span></strong><br>
      <%= protege.location %><br>
      <em><%= protege.headline %></em><br>
      Area of Expertise: <%= protege.industry %>
    </div>
    <div class="role">
      <% if protege.protege == true && protege.adviser == true %>
        <p>P & A</p>
      <% elsif  protege.protege == true %>
        <p>P</p>
      <% elsif protege.adviser == true %>
        <p>A</p>
      <% end %>
    </div><br>
    <span id="contact">
      <a href="mailto:<%= protege.email_address %>"><button type="button" class="btn btn-primary btn-lg"> Contact <%= protege.first_name %></button>
      </a>
    </span>
  </div>
<% end %>

