<div id="wrapper">
  <div id="sidebar_wrapper">
    <button id="protegeButton" data-user-id="<%= current_user.id %>">Become a protege</button><br>
    <button id="adviserButton" data-user-id="<%= current_user.id %>">Become an adviser</button>
  </div>


  <div id="users">
    <%= render "users" %>
  </div>

  <div id="proteges">
    <%= render "proteges" %>
  </div>

  <div id="advisers">
    <%= render "advisers" %>
  </div>

</div>