<div id="wrapper">
  <div id="sidebar_wrapper">

    <% if current_user.protege == false %>
      <button id="protegeButton" data-user-id='<%= current_user.id %>'>
        Become a protege
      </button>
    <% end %><br>
    <% if current_user.adviser == false %>
      <button id="adviserButton" data-user-id='<%= current_user.id %>'>
        Become an adviser
      </button>
    <% end %>


  <div id="users">
    <%= render "users" %>
  </div>

  <div id="proteges">
    <%= render "proteges" %>
  </div>

  <div id="advisers">
    <%= render "advisers" %>
  </div>

</div>
