<div id="wrapper">
  <div id="sidebar_wrapper">

    <% if current_user.protege == false %>
      <button id="protegeButton" data-user-id='<%= current_user.id %>'>
        Become a protege
      </button>
    <% end %><br>
    <% if current_user.adviser == false %>
      <button id="adviserButton" data-user-id='<%= current_user.id %>'>
        Become an adviser
      </button>
    <% end %>

  </div>
  <div id ="welcome">
    <p>Welcome to Advise Me Wisely!</p>
    <p>You've come to the right place to connect with others and seek/give career advice.  First things first, make sure you become a protege or an adviser.  Go ahead and use use the button(s) above.</p>
  </div>


  <div id="users">
    <%= render "users" %>
  </div>

  <div id="proteges">
    <%= render "proteges" %>
  </div>

  <div id="advisers">
    <%= render "advisers" %>
  </div>

</div>
